params.cpg_file_path = "s3://nf-seqera/hygeia_data/ref/cpg.tsv.gz"
params.sample_sheet = "s3://nf-seqera/hygeia_data/aging/sample_sheet_s3.csv"
params.output_dir = "s3://nf-seqera/hygeia_analysis/out1"
params.min_cpg_sites_between_change_points = 3
params.num_of_inference_seeds = 2
params.chroms = "21,22"
