// default params
params {
  // chroms = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22"
  chroms = "21,22"
  meteor_mu = "0.95,0.05,0.8,0.2,0.50,0.50"
  meteor_sigma = "0.05,0.05,0.1,0.1,0.1,0.2886751"
  min_cpg_sites_between_change_points = 3
  num_of_inference_seeds = 2 // 10
  debug = false
  output_dir = 'results'
  batch_size = 100000
}

profiles {
  local {
    process.executor = 'local'
  }
}

process {
  errorStrategy = 'terminate'
  // errorStrategy = 'ignore'
}

docker {
  enabled = true
  runOptions = '-u $(id -u):$(id -g)'
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
  enabled = true
  file = "${params.output_dir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
  enabled = true
  file = "${params.output_dir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
  enabled = true
  file = "${params.output_dir}/pipeline_info/pipeline_trace_${trace_timestamp}.txt"
}
dag {
  enabled = true
  file = "${params.output_dir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name = 'hygeia'
    author = 'Your Name'
    homePage = 'https://github.com/ucl-medical-genomics/hygeia'
    description = 'Your pipeline description'
    mainScript = 'main.nf'
    nextflowVersion = '>=22.10.0'
    version = '1.0.0'
}
